{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'humito_site/detail.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class='modal-header'>
            <p class='modal-title w-100 text-center'>{{item.name}}</p> 
        </div>
        <div class='modal-body'>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src={{item.image}} alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=480,height=720/catalog/crunchyroll/50a1c630f14f0927f2ed3648ca24fb34.jpe" alt="Second slide">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  {% comment %} <span class="visually-hidden">Previous</span> {% endcomment %}
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  {% comment %} <span class="visually-hidden">Next</span> {% endcomment %}
                </button>
            </div>
            <p class='product-price'>${{ item.item_price_calc }}<p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class='flavorList-container'>
                {% for flavor in item.flavors%}
                    {% for key, value in flavor.items %}
                        {% if value == True %}
                            <div class='flavor-container'>
                                <p class='flavor'>{{key}}</p>
                            </div>        
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>