
.modal-header {
    font-size: 3.5rem;
}

.product-price {
    color: #443659;
    font-size: 3rem;
    font-weight: 750;
}

.modal-body {
    font-size: 1.5rem;
    text-align: center;
    background-color: #C6B8D9;
}


.flavorList-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flavor-container {
    margin: 2px;
    border-radius: 15px;
    background-color: #443659;
}

.flavor {
    color: #d3d3d3;
    font-size: 2rem;
    margin: 0 10px 0 10px;
} 