
  main {
    background-color: #443659;
  }

  .hero {
    width: 100%;
    background-color: #8C618C;
  }

  .hero img {
    width: 100%;
    height: 300px;
  }

  .toolbar-container {
    display: flex;    
    padding: 100px;
    background-color: #8C618C;
  }

  .product-container {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: #32253F;
    color: #D3D3D3
  }
    
  .fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    position: absolute;
    top: 30px; left: 30px;
  }
  
  .fab {
    position: relative;
    background-color: #C6B8D9;
    height: 40px; width: 40px;
    border-radius: 50%;
    border: none;
    z-index: 2;
  }
  
  .fab-content {
    display: flex;
    align-items: center; justify-content: center;
    height: 100%; width: 100%;
    border-radius: 50%;
  }
  
  .material-icons {
    color: black;
    font-size: 30px;
  }
  
  .sub-button {
    position: absolute;
    display: none;
    align-items: center; justify-content: center;
    bottom: 10px; 
    height: 25px; width: 100px;
    background-color: #443659;
    border-radius: 9% 10% 10% 10% / 50% 46% 56% 48%;
    transition: transform .3s ease;
    &:hover {
      cursor: pointer;
    }
  }
  
  .sub-button:nth-child(2){
    transform: translateY(50px);
  }
  .sub-button:nth-child(3){
    transform: translateY(90px);
  }
  .sub-button:nth-child(4){
    transform: translateY(130px);
  }
  
  .material-icons {
    color: black;
    padding-top: 6px;
  }

  #dropdownMenuButton {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 2.5rem;
  }

  .dropdown-item {
    font-size: 2rem;
  }

  .row {
    justify-items: space-between;
  }

  .col-sm-6 {
    justify-items: center;
    text-align: center;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    background-color: #F2D0CF;
    border-radius: 15px;
    min-width: 300px;
    max-height: 500px;
  }
  
  .product-img {
    max-width: 400px;
    max-height: 300px;
  }
  
  .item-info > .btn, .item-price, .item-availability {
    color: #D3D3D3;
    justify-content: center;
  }
  
  .item-info > .btn {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    &:hover {
      color: #C6B8D9;
    }
  }
  
  .item-price > p {
    font-size: 3rem;
    text-align: center;
    margin: 10px 0 10px 0;
  }
  
  .item-availability > p  {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .contact {
    width: 100%;
    height: 150px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8C618C;
    height: 125px;
    color: #C6B8D9;
  }

  #instagram-icon {
    color: inherit;
    text-decoration: none;
  }

  .disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #443659;
    height: 75px;
    font-size: 2rem;
    color: #C6B8D9;
  }
